.container{
    padding-top: 94px;
}
.order-info-area{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #d8f3f7
} 
.common-inner{
    margin: 0 auto;
    max-width: 720px;
}
.info-main-title{
    line-height: 39px;
}
.info-title{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color:#333;
    

}
.ico_n_logo{
   margin-right: 6px;
   width: 24px;
   height: 24px;
}
.tab-switch-box{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.tab-switch{
    flex:1;
    background-color: rgba(200, 200, 200,0.2);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    letter-spacing: -0.3px;
}
.tab-active{
    position: relative;
    flex-grow: 1.2;
    border:1px solid rgb(37, 37, 37);
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    color:black;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.tab-active::after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    left: 50%;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg) translateX(-50%);
    background-color: #fff;
    
}
.info-main-notice{
    display: flex;
    align-items: center;
    margin-top: 17px;
    padding: 12px 16px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #333;
}
.info-main-notice.alert{
    color:#ff3d3b;
    font-weight: 700;
}